<aside class="sidebar">
    <div>
        <h1>BOOXIE</h1>
        <section>
            <h2>Categories</h2>
            <ul class="categories">
                <li><a href="/novels">Novels</a></li>
            </ul>
        </section>
        <section>
            <h2>Languages</h2>
            <ul class="languages">
                <li><a href="/language/english">English</a></li>
                <li><a href="/language/french">French</a></li>
                <li><a href="/language/german">German</a></li>
                <li><a href="/language/spanish">Spanish</a></li>
                <li><a href="/language/russian">Russian</a></li>
                <li><a href="/language/greek">Greek</a></li>
                <li><a href="/language/italian">Italian</a></li>
                <li><a href="/language/portuguese">Portuguese</a></li>
                <li><a href="/language/japanese">Japanese</a></li>
                <li><a href="/language/norwegian">Norwegian</a></li>
                <li><a href="/language/arabic">Arabic</a></li>
                <!-- ovo je tesko to cemo za poslije ostaviti -->
                <li><a href="/language/others">Others</a></li>
            </ul>            
        </section>
        <!-- "Add New Book" feature -->
        <section>
            <h2>Create </h2>
            <a href="/new-book">Add New Book</a>
        </section>
        <!-- Decoration -->
        <section id="admin-login-section">
            <button id="admin-login">Admin Login 🔓</button>
        </section>
    </div>
</aside>
